{% extends "base.html" %}
{% block section1 %}
<section class="panel b-blue">
  <article class="panel__wrapper">
    <div class="panel__content">
     <h1 class="panel__headline">
      <div class="panel__block"></div>


    <div style="width:800px">

         <h8>访问非静态页面前十的IP</h8>
         {% bar_chart ip_data with style="width:400px;height:20px;"%}

         <h8>访问次数最多的前十的url</h8>
         {% bar_chart url_data %}
    </div>

{#         {%line_chartdatawithstyle="width:200px;height:20px;"%}#}
     </h1>


    </div>

  </article>
</section>
{% endblock %}